<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IWonderStage" type="SevenWonder.Contracts.IWonderStage, SevenWonder" />
  <alias alias="WonderStage" type="SevenWonder.Entities.WonderStage, SevenWonder" />
  <container>
    <register type="IWonderStage" mapTo="WonderStage"/>
  </container>
</unity>